
body{
margin: 0;
background-color: #faf0ca ;
font-family:"";
text-align: center;
padding: 0 25px
}

header{
  background-color:#0d3b66 ;
  text-align: center;
  padding:40px 0 0 0 ;
  margin: 0;
}
  
.logo{
   font-family: ;
  font-size: 76px;
  color:#adb5bd;
  text-align: center;
  margin: 0;
  padding: 20px ;
 
  }
  
   header h2{
     font-family: ;
	color: #ced4da;
	margin: 0px;
	font-size: 18px;
	text-align: center;
  }
  
 section{
  padding: 0 25px 0 0 ;
  margin: 75px 0 0 0 ;
}
  
footer{
  background-color:#0d3b66 ;
  text-align: center;
  padding: 40px;
  margin: 0;
}
  
  /*---font and groups --- */

h1, h2, h3 {
  font-family: ;
	color: #adb5bd;
  text-align: center;
  font-weight: 350;
}
  
h1 { font-size: 30px; }
h2 { font-size: 28px; }
h3 { font-size: 19px; } 

a{
font-weight: 500;
text-decoration: none;
}

a:link{color:#0466c8}
a:visited{color:#0353a4}
a:hover{color:#023e7d}
a:active{color:#002855}

hr{
padding-top: 0 80px;
border-top: 4px solid #0d3b66
}


  
  
p, li,{
 font-family: ;
 line-height: 1.5em;
 margin-bottom: 0;
}

footer p{
  color:#adb5bd
}

  /*---image---*/
  
img{
  max-width: 100%;  
  height: auto;  
  border-radius: 2px;
  border: 1px solid #adb5bd;
  }
