/*----Basic Styles----*/


body{
margin: 0;
background-color: #faf0ca ;
font-family:"";
text-align: center;
padding: 0 25px
}

header{
  background-color:#0d3b66 ;
  text-align: center;
  padding:40px 0 0 0 ;
  margin: 0;
}
  
.logo{
   font-family: ;
  font-size: 76px;
  color:#f7e294;
  text-align: center;
  margin: 0;
  padding: 20px ;
 
  }
  
   header h2{
     font-family: ;
	color: #faf0ca;
	margin: 0px;
	font-size: 28px;
	text-align: center;
  }
  
 section{
  padding: 0 25px  ;
  margin: 75px 0  ;
  width: 65%;
}
  
footer{
  background-color:#0d3b66 ;
  text-align: center;
  padding: 15px;
  margin: 0;
}
  
  /*---font and groups --- */

h1, h2, h3 {
  font-family: ;
	color: #0d3b66;
  text-align: center;
  font-weight: 350;
}
  
h1 { font-size: 30px; }
h2 { font-size: 28px; }
h3 { font-size: 19px; } 

a{
font-weight: 500;
text-decoration: none;
}

a:link{color:#002855}
a:visited{color:#023e7d}
a:hover{color:#0353a4}
a:active{color:#0466c8}

hr{
  width: 45%;
  height: 4px;
  background-color:  #0d3b66;
  border: 2px solid black;
  margin-top: 80px;
  margin-bottom: 80px;
padding-top: 0 80px;

}


  
  
p, li,{
 font-family: ;
 line-height: 1.5em;
 margin-bottom: 0;
}

footer p{
  color:#faf0ca
}

  /*---image---*/
  
  img{
  max-width: 100%;  
  height: auto;  
  border-radius: 2px;
  border: 1px solid #f7e294;
  }
