/*----Basic Styles----*/

body{
margin: 0;
background-color: #faf0ca ;
font-family:"";
}

header{
  background-color:#0d3b66 ;
   text-align: center;
  padding: 40px;
  margin: 0;
  
.logo{
   font-family: 'Nanum Pen Script', cursive;
  font-size: 72px;
  color:#adb5bd;
  text-align: center;
  margin: 0;
  padding: 20px 0 0 0;
  
  }
  
  h2{
  
  }

  h3{
  
  }
  
 section{
  padding: 0 30%;
  margin: 90px 0;
}
 
footer{
  background-color:#0d3b66 ;
  text-align: center;
  padding: 30px;
  margin: 0;
}
  
  /*---font and groups --- */

h1 { font-size: 30px; }
h2 { font-size: 28px; }
h3 { font-size: 19px; } 

a{
  
}

a:link{color:#0466c8}
a:visited{color:#0353a4}
a:hover{color:#023e7d}
a:active{color:#002855}

hr{
background-color:#0d3b66
  
}

ul,ol{
  
  }
  
  
p, li,{
 font-family: ;
 line-height: 1.5em;
 margin-bottom: 0;
}

footer p{
  color:#adb5bd
}

  /*---image---*/
  
  img{
  width: 100%;	
  border-radius: 8px;
  border: 1px solid #adb5bd;
  }
