/*----Basic Styles----*/

body{
margin: 0;
background-color: #faf0ca ;
font-family:"";
}

header{
  background-color:#0d3b66 ;
   text-align: center;
  padding: 40px;
  margin: 0;
  
.logo{
  
  }
  
  h2{
  
  }

  h3{
  
  }
  
 section{
  padding: 0 30%;
  margin: 90px 0;
}
 
footer{
  background-color:#0d3b66 ;
  text-align: center;
  padding: 30px;
  margin: 0;
}
  
  /*---font and groups --- */

h1{}
h2{}
h3{}  

a{
  
}

a:link{color:""}
a:visited{color:""}
a:hover{color:""}
a:active{color:""}

hr{
  
}

ul,ol{
  
  }
  
  
p, li,{
  font-family:'Trebuchet MS';
  font-size:16px;
   text-align: center;
  
}

footer p{}

  /*---image---*/
  
  img{
  
  }



